.page-header Búsqueda de afiliados
.container
    .row
        .col-sm-8
            .panel.panel-default
                .panel-heading 
                    h3.panel-title Filtros
                .panel-body
                        p Nombre:
                        input( id="nombreInput",ng-model="nombreInput")
                        p Apellido:
                        input(id="apellidoInput",ng-model="apellidoInput")
                        p CUIT:
                        input(ng-model="cuitInput")
                        button.btn.btn-sm.btn-default(ng-click="searchAsociado()") Buscar

.col-md-9
   table.table.table-boardered
    thead
        tr
            th Nombre
            th Apellido
            th N Socio
    tbody
        tr
            th jorge
            th corona
            th 123