doctype html
html(lang="en")
  head
    title  Mutual Manager
    script(type='text/javascript').
    link(rel="stylesheet" href="css/style.css").
  body
    header
      .logo LOGO
      .title Aguante no refrescar
  
  middle
    nav 
    
        
    main
      h1  sass: node template engine
      #container.col
        if youAreUsingPug
          p You are amazing
        else
          p Get on it!
        p.
          Pug is a terse and simple templating language with a
          strong focus on performance and powerful features.