doctype html
html(lang="es",ng-app='App')
  head
    title  Mutual Manager
    script(type='text/javascript').
    link(rel="stylesheet" href="css/style.css").
  body
  
    navbar
        nav.navbar.navbar-inverse.navbar-fixed-top
            .container
                .navbar-header
                    a(href='/').navbar-brand Mutual
                #navbar.collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li.active 
                            
                            a(href='/home') Home 
                        li
                            a(href='/asociados') Asociados
                        li
                            a(href='/admin') Admin
                        li
                            a(href='/salir') Salir
    ng-view .container
    script(src="bundle.js")
    


